/*using all selector styling*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dde6ed;
}
body {
  background-color: #27374d;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #9db2bf;
  border-radius: 5px;
  font-weight: 500;
  padding: 1px;
}

.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  padding: 3px;
}
.search-container input {
  padding: 7px;
  border-radius: 5px;
  color: #000000;
  font-weight: 400;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container {
  background-color: #526d82;
  border-radius: 5px;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em;
}
.container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.container button {
  margin-top: 1em;
  padding: 1em 0;
  font-weight: 700;
}
/*loading element*/
.loader {
  height: 15em;
  width: 15em;
  border: 3em solid #000000;
  border-radius: 50%;
  border-top-color: #526d82;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  animation: spin 3.5s infinite ease-in-out;
}
/*scroll bar*/
::-webkit-scrollbar {
  width: 15px;
  background: #dde6ed;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background: #9db2bf;
}
/*spinning animation*/
@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    margin: 0.7em;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
